extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="nosotros")
            .col-md-7
             h1 #{pagina}
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quisquam labore ad incidunt itaque, harum minus accusamus dolores inventore beatae voluptatum? Velit architecto doloremque distinctio repellat culpa aliquid repellendus dolorum!
                blockquote Lorem ipsum dolor.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. A minus, odit commodi numquam, corporis perferendis non reiciendis omnis dolorem tenetur dignissimos, beatae totam quo deserunt dolor vitae maxime eveniet. Laborum!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aliquam quidem fuga numquam dolore! Nisi delectus, corrupti corporis cumque iure amet perferendis quo sequi sapiente mollitia, veritatis distinctio saepe similique?
        .listado-iconos
            .container-mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolore corporis itaque quia at ipsum. Libero, quae doloremque. Totam ducimus nostrum velit ab, similique culpa maxime optio sapiente neque incidunt.
                    .col-md-4    
                        img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                        h2.mb-4 Destinos
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, autem in? Maxime eveniet esse soluta cumque? Aspernatur obcaecati asperiores facere aut aperiam, officiis libero, perferendis veritatis incidunt adipisci quam consectetur.
                    .col-md-4    
                        img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                        h2.mb-4 Precios
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, autem in? Maxime eveniet esse soluta cumque? Aspernatur obcaecati asperiores facere aut aperiam, officiis libero, perferendis veritatis incidunt adipisci quam consectetur.                        